#home{
    margin-top: 100px;
}

.bannericon{
    padding-right: 8px;
    font-size: 23px;
}

.bannericon:hover{
    color: red;
}

img{
    border-radius: 5%;
    box-shadow: 10px;
}

